# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
.env.*
# Virtual environments
.venv/
venv/
*/.venv/
*/venv/

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# MLflow & data
mlruns/
*.db
data/
artifacts/

# Docker
*.log
